/*=========================
GENERAL RULES - 
APPLIES ON ALL SCREEN SIZES
==========================*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    background-color: #fafafa;
    color: #28283D;
}

a {
    border-radius: 2em;
    color: #fafafa;
    padding: 0.7em 1em 0.7em 1em;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.32s;
}

.download {
    /* display: block;  */
    background-color: #4D96A9;
    border-radius: 2em;
    /* margin: 0 auto 0.5em; */
    width: 12.0625em;
    font-size: 1rem;
}

.text-dwnld-ver {
    color: #8FE3F9;
}

.download:hover {
    background-color: #71C0D4;
    cursor: pointer;
}

.what-is {
    display: block;
    background-color: #855FB1;
    border-radius: 2em;
    margin: 0 auto;
    width: 8.6875em;
    font-size: 1rem;
    text-align: center;
}

.footer-dwnd {
    width: 12.0625em;

}

.footer-dwnld-ver {
    color: #D9B8FF;
}

.footer-txt {
    color: #fafafa;
}

.what-is:hover {
    background-color: #B18BDD;
    /* transform: scale(1.1); */
}

p {
    color: #28283D;
}

.dropping-number {
    margin-top: 4em;
    /*6.875*/
    margin-bottom: 4em;
    position: relative;
    z-index: 1;
}

.vert-line {
    border-left: 1px solid #87879D;
    height: 84px;
    width: 1px;
    margin: 0 auto;
}

.circle {
    text-align: center;
    margin: 0;
    width: 50px;
    height: 50px;
    border: 0.7px solid #87879D;
    margin: 0 auto;
    border-radius: 25px;
    font-weight: 700;
    background: #fafafa;
}

.circle>p {
    color: #87879D;
}

img {
    max-width: 100%;
}

main,
.download-text {
    margin: 1em
}

.download-text {
    text-align: center;
}

.midarticle-wrapper {
    text-align: center;
    /* width: 20em;
     */
    width: 75%;
    margin: 0 auto;
}

.midarticle-title {
    text-transform: uppercase;
    color: #4D96A9;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

.midarticle {
    width: 10em;
    margin-top: 0.5em;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
}

.dropping-number.bottom {
    margin-bottom: -1.7em;
}

/*======================================================
END GENERAL RULES -  APPLIES ON ALL SCREEN SIZES
=======================================================*/

/* ############################# MOBILE DESIGN ############################### */
@media only screen and (max-width: 480px) {

    .left-image,
    .right-image,
    .desktop-footer-img {
        display: none;
    }

    .header-logo {
        display: flex;
        /* align-items: center; */
        margin: 2.5em auto 2.5em auto;
    }

    .hero-mobile {
        max-width: 100%;
    }

    .download {
        display: block;
        margin: 0 auto 1em;
        /* width: 12.06em; */
    }

    .download-text>h1 {
        font-size: 2.5rem;
        line-height: 1;
        font-weight: 900;
    }

    /* ##### MIDDLE PHOTOS ######### */

    .mid-cont {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 1em;
    }

    .mid-image {
        border-radius: .7em;
    }

    .midarticle {
        font-size: 2rem;
    }

    .midarticle-more {
        font-size: 1rem;
    }

    /* ####### END MIDDLE PHOTOS ########## */

    .foot-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(rgba(77, 151, 169, 0.9), rgba(77, 151, 169, 0.9)),
            url(./assets/mobile/image-footer.jpg);
        background-size: cover;
        /* height: 27em; */
        padding: 5em;
        width: auto;
    }

    .foot-itms>h3 {
        font-size: 2em;
        color: #fafafa;
        width: 10em;
        line-height: 1;
        margin-bottom: .4em;
        /* flex-shrink: -0.5; */
    }

    .foot-itms>p {
        margin-top: 1em;
        font-size: 1.125em;
        color: #fafafa;
        width: 17.5em;
        flex-grow: 0.1;
    }
}

/* ###################### END-MOBILE DESIGN #############################*/



/* TABLET DESIGN */
@media only screen and (min-width:481px) and (max-width:768px) {

    .left-image,
    .right-image,
    .desktop-footer-img {
        display: none;
    }

    .header-logo {
        display: flex;
        margin: 2.6em auto 2.6em auto;
    }

    .hero-mobile {
        max-width: 100%;
    }

    .download-text>h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 900;
    }

    .download,
    .what-is {
        display: inline;
    }

    .download {
        margin-right: 0.3em;
    }

    .dwnld-info {
        width: 28.56em;
        padding: 0 2em;
        margin: 0 auto 3em auto;
        font-size: 1rem;
    }

    .dropping-number {
        margin-top: 5em;
        /* margin-bottom: 4em; */
    }

    /* ########### MIDDLE PHOTOS ############### */

    .mid-cont {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        gap: 0.5em;
        /* margin: 0 auto; */
    }

    .mid-image {
        border-radius: .7em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* END MIDDLE PHOTOS */

    .midarticle {
        width: 80%;
        /*  width: 26.813rem;*/
        margin: 0.5em auto auto auto;
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1;
    }

    .foot-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(rgba(77, 151, 169, 0.9), rgba(77, 151, 169, 0.9)),
            url(./assets/tablet/image-footer.jpg);
        background-size: cover;
        /* height: 27em; */
        padding: 5em;
    }

    .foot-itms > h3 {
        font-size: 2.5rem;
        color: #fafafa;
        width: 10em;
        line-height: 1;
        margin: 0 auto .4em;
        /* flex-shrink: -0.5; */
    }
  
    .footer-txt {
        padding: 1em 3em;
    }
}

/*END TABLE DESIGN */

/* MEDIUM SCREENS*/
@media only screen and (min-width:769px)

/* and (max-width:1024px)*/
    {

    .header-logo {
        display: flex;
        margin: 2.6em auto 2.6em auto;
    }

    .hero-mobile {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-around;
    }

    .download-text>h1 {
        font-size: 4rem;
        line-height: 1;
    }

    .download,
    .what-is {
        display: inline;
    }

    .download-text {
        flex-basis: 50%;
        flex-shrink: 2;
    }

    .download {
        margin-right: 0.5rem;

    }

    .what-is {
        margin: 0;
        font-size: 1rem;
    }

    .dwnld-info {
        width: 61%;
        margin: 2em auto;
        font-size: 1.125rem;
    }

    .dropping-number {
        margin-top: 6.875em;
        margin-bottom: 4em;
    }

    /* ##### MIDDLE PHOTOS ######### */

    .mid-cont {
        /* display: grid;
        grid-template-columns: repeat(4,24%);
        gap: 1em; */
        display: flex;
        gap: 1em;
        width: 65%;
        max-width: 1110px;
        /*at large screens don't exceed this width*/
        margin: 0 auto;
    }

    .mid-image {
        border-radius: .7em;
    }

    .midarticle {
        font-size: 2.5rem;
        width: 11em;
        margin: 0.5em auto;
    }

    .midarticle-more {
        font-size: 1.125rem;
        width: 31.25rem;
        margin: inherit;
    }

    /* ####### END MIDDLE PHOTOS ########## */


    .foot-content {
        /* display: flex;
    align-items: center;  */
        background: linear-gradient(rgba(77, 151, 169, 0.86),
                rgba(77, 151, 169, 0.86)),
            url(./assets/desktop/image-footer.jpg);
        background-size: cover;
        padding: 5em;
    }

    .foot-itms {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
	gap: 4em;
}

    .footer-txt-head {
        color: #fafafa;
        font-size: 2.5rem;
        flex-basis: 10em;
    }

    .footer-txt {
        font-size: 1.125rem;
        flex-basis: 18.875em;
    }

    footer>p {
        width: 300px;
        flex-basis: 19em;
    }

    footer>a {
        flex-basis: 6rem;
        text-align: center;
    }

}

/* END LAPTOP/DESKTOP DESIGN */