/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .header-image-lg {
    display: none;
  }
  .header-image-sm {
    display: block;
    width: 100vw;
    height: auto;
    margin-left: -2.5vw;
    margin-right: -2.5vw;
  }
  .footer-image {
    background-image: url(./assets/mobile/image-footer.jpg);
    height: 56vh;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  .footer-text {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  h2.footer-item-1 {
    text-align: center;
  }
  p.footer-item-2 {
    text-align: center;
    width: 68vw;
    font-size: 18px;
  }
  .call-to-action {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    gap: 16px;
  }
  .images-grid {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-rows: repeat(2, 4fr);
    gap: 1rem;
    width: 88vw;
    align-items: center;
    margin: 2rem auto;
  }
  .sub-text {
    width: 75vw;
  }
  .overline {
    width: 90vw;
  }
  .smart {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
  }
  .details {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-image {
    background-image: url(./assets/tablet/image-footer.jpg);
    height: 56vh;
  }
  .header-image-sm {
    display: block;
    width: 100vw;
  }
  .header-image-lg {
    display: none;
  }
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  .footer-text {
    flex-direction: column;
    height: auto;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    gap: 2vh;
  }
  h2.footer-item-1 {
    text-align: center;
    width: 40%;
  }
  p.footer-item-2 {
    text-align: center;
    width: 66%;
  }
  .call-to-action {
    flex-direction: row;
    align-content: space-between;
    gap: 15px;
  }
  .images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 85vw;
    height: auto;
    align-items: center;
    margin: 2rem auto;
  }
  .sub-text {
    width: 55vw;
  }
  .overline {
    width: 39vw;
  }
  .smart {
    width: 50vw;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
  }
  .details {
    width: 82vw;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
  .header-image-sm {
    display: none;
  }
  .footer-image {
    background-image: url(./assets/desktop/image-footer.jpg);
    height: 38vh;
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  .footer-text {
    flex-direction: row;
    height: 100%;
    width: 65vw;
    vertical-align: middle;
    margin: 0 auto;
    gap: 10vw;
  }
  h2.footer-item-1 {
    position: relative;
    color: #ffffff;
    text-align: left;
    width: 25%;
  }
  p.footer-item-2 {
    position: relative;
    color: #ffffff;
    text-align: left;
    width: 20%;
  }
  .image-left {
    /* position: relative; */
    width: 30%;
    float: left;
    margin-left: -2.5vw;
  }
  .image-right {
    position: relative;
    width: 30%;
    float: right;
    margin-right: -2.5vw;
  }
  .call-to-action {
    flex-direction: row;
    gap: 16px;
  }
  .images-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 70vw;
    height: auto;
    align-items: center;
    margin: 2rem auto;
  }
  .sub-text {
    width: 32vw;
  }
  .smart {
    width: 28vw;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
  }
  .details {
    width: 35vw;
    text-align: center;
    margin: auto;
    padding-top: 2vh;
  }
}
body {
  font-family: "Red Hat Display", sans-serif !important;
  margin: 0;
  margin: 0;
  background: #fafafa;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
.image-mobile-tablet {
  display: flex;
  width: 100vmax;
  text-align: center;
}
p {
  font-style: medium;
  font-weight: 500;

  line-height: 26px;
  text-align: center;
}
h1 {
  font-style: black;
  font-weight: 900;
  line-height: 64px;
}
h2 {
  font-style: black;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
button {
  height: 58px;
  border-radius: 29px;
  border: none;
}
button.button-1 {
  width: 193px;
  position: relative;
  background: #4d96a9;
}
button.button-1:hover {
  background: #71c0d4;
}
button.button-2 {
  width: 139px;
  position: relative;
  background: #855fb1;
  border-radius: 29px;
  border: none;
}
button.button-2:hover {
  background: #b18bdd;
}
.button-text {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 1%;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.main {
  text-align: center;
}

.main-text {
  padding-top: 2vh;
  position: relative;
  text-align: center;
  color: #28283d;
}
.sub-text {
  position: relative;
  color: #87879d;
  text-align: center;
  display: inline-block;
}
.shape-1 {
  display: block;
  position: relative;
  width: 56px;
  height: 140px;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 6vh;
  margin-left: auto;
  margin-right: auto;
}
.shape-2 {
  display: block;
  z-index: 1000;
  position: relative;
  width: 56px;
  height: 140px;
  align-items: center;
  justify-content: center;
  padding-top: 6vh;
  margin-bottom: -3vh;
  margin-left: auto;
  margin-right: auto;
}
.vertical-line {
  /* display: block;
    position: relative; */
  height: 84px;
  mix-blend-mode: normal;
  opacity: 0.25;
  border-left: 1px solid #87879d;
  margin-left: 50%;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: relative;
  width: 56px;
  height: 56px;
  background: #fafafa;
  border: 1px solid rgba(135, 135, 157, 0.25);
  text-align: center;
  border-radius: 29px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
}
.circle-label {
  font-style: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #87879d;
}
.images-grid {
  position: relative;
  display: grid;
  justify-content: center;
  text-align: center;
}
.middle-desc {
  position: relative;
  /* width: 39vw; */
  height: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.overline {
  position: relative;
  padding-top: 5vh;
  text-align: center;
  font-style: black;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4d96a9;
}
h2.smart {
  position: relative;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  color: #28283d;
}
p.details {
  position: relative;
  left: 0%;
  right: 0%;
  top: 67.5%;
  bottom: 0%;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #87879d;
}
.grid-image {
  border-radius: 5%;
  width: 100%;
  height: auto;
}
.footer-image {
  background-size: cover;
  color: #4d96a9;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  opacity: 0.9;
  bottom: 0%;
}
.layer {
  background-color: rgba(77, 150, 168, 0.9);
  position: relative;
  width: 100vw;
  height: 100%;
  bottom: 0%;
}
.footer-text {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2.footer-item-1 {
  position: relative;
  color: #ffffff;
}
p.footer-item-2 {
  position: relative;
  color: #ffffff;
}
#footer-btn {
  background-color: #855fb1;
  position: relative;
  text-align: center;
  width: 193px;
  height: 58px;
}
#footer-btn:hover {
  background-color: #b18bdd;
}
