* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
p {
  font-size: 1em;
  font-weight: 500;
}
/* LAYOUT */
.container {
  /* max-width: 1500px; */
  /* width: 90%; */
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meet-logo {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.left-image {
  margin-left: -2rem;
}
.right-image {
  margin-right: -2rem;
}
.download-text {
  position: absolute;
  left: 35%;
}
/* LAYOUT */

/* TYPOGRAPHY */
.download-text {
  text-align: center;
  width: 35em;
}

.download-text > h1 {
  margin: 0;
  font-weight: 900;
  font-size: 64px;
  color: #28283d;
}
.download-text > p {
  font-size: 20px;
  color: #87879d;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
/* END OF TYPOGRAPHY */

/* BUTTONS */
a {
  text-decoration: none;
  font-size: 2em;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #fafafa;
}

.download-btn {
  background-color: #4d96a9;
  margin-right: 0.125em;
}

.what-btn {
  background-color: #855fb1;
  margin-left: 0.125em;
}

.download-btn-footer,
.download-btn-footer {
  background-color: #855fb1;
}

.download-btn:hover {
  background-color: #8fe3f9;
  cursor: pointer;
}

.what-btn:hover,
.download-btn-footer:hover {
  background-color: #d9b8ff;
  cursor: pointer;
}

/* END OF BUTTON */

/* middle photos*/
.photo {
  width: 20%;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}
.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.group-photo {
  margin-top: 16em;
  margin-bottom: 5em;
}
/* end of middle photos */

/* smart meeting textbox */
.smart-meeting {
  width: 450px;
  margin-top: 0;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.built-for {
  text-transform: uppercase;
  color: #4d96a9;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.smart-meeting-title {
  font-size: 40px;
  margin: 0.125em 0;
  font-weight: 900;
}
.meeting-article {
  color: #87879d;
}

.smart-meeting > p {
  margin-bottom: 0;
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5em;
  background: url(../assets/desktop/image-footer.jpg) no-repeat;
  background-size: cover;
}

.footer-items {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.footer-info h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
}

.footer-details p {
  color: #fff;
}

.footer-info,
.footer-details,
.footer-details {
  width: 30%;
}

/* END FOOTER */

/* TABLET MEDIA QUERY */
/* banner-top */
@media (max-width: 400px) {
  .download-text {
    top: 40%;
  }
}
/* END TABLET MEDIA QUERY */
